
body{
  
  background-color: #fff;
  color: black;
}
img.art{
  width: 100%;
  height: 300px;
  object-fit:cover;
  transition: transform 1s;
  border-radius: 3px;}
.thumb{
  /* overflow: hidden; */
  margin: 1px;
}

img.art:hover{
  filter: grayscale(0.8);
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -100px;
  
}

.text{
  
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  bottom: -100px;
}
.text h2{
  text-decoration: underline;
  
  box-sizing:border-box;
color:#01012e;
display:block;
font-family:"Josefin Sans", sans-serif;
font-size:30px;
font-weight:500;
/* height:21px;
line-height:21.6px;
margin-block-end:24px;
margin-block-start:0px;
margin-bottom:24px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px; */
text-align:center;
text-decoration-color:rgb(33, 37, 41);
text-decoration-line:underline;
text-decoration-style:solid;
/* text-size-adjust:100%; */
/* width:221px; */
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
.text p{
  
  box-sizing:border-box;
color:#01012e;
display:block;
font-family:"Josefin Sans", sans-serif;
font-size:18px;
font-weight:100;
/* height:168px; */
/* line-height:21px; */
/* margin-block-end:16px; */
margin-block-start:0px;
/* margin-bottom:16px; */
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-align:center;
text-size-adjust:100%;
/* width:221px; */
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.footer{
  font-family: 'Josefin Sans', sans-serif;
  
}
.footer_new h4{
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.footer_new p{
  font-size: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}
.footer_new a{
  color: #fff;
  text-decoration: none;
}



 
.thumb {
  padding-right: 0 !important;
  padding-left: 0 !important;
}