  body{
  background-color: #fff;
  color: black;
}
img.art{
  width: 100%;
  height: 300px;
  object-fit:cover;
  transition: transform 1s;
}
.thumb{
  overflow: hidden;
  margin: 1px;
}

img.art:hover{
  transform: scale(1.2);
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -100px;
}
.container{
  margin-right: 0 !important;
}
.text{
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  bottom: -100px;
}
.text h2{
  text-decoration: underline;
}
.text p{
  font-size: 1rem;
  line-height: 1rem;
}
.footer{
  font-family: 'Josefin Sans', sans-serif
}
.footer_new h4{
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.footer_new p{
  font-size: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}
.footer_new a{
  color: #fff;
  text-decoration: none;
}

